TO Query the views:

SELECT * FROM dbo.vw_Top10Products1;
SELECT * FROM dbo.vw_Top100CustomersByGeography;
SELECT * FROM dbo.vw_Top100SingleCustomers;
SELECT * FROM dbo.vw_Top10FinanceByAmount;
SELECT * FROM dbo.vw_SalesTerritories;
SELECT * FROM dbo.vw_ProductCategories;
SELECT * FROM dbo.vw_SalesQuotas1;
